<!-- start success alert notification-->
<div class="position-fixed top-0 start-50 translate-middle-x p-3 z-index-2500">
    <div id="toast-suc" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <span class="svg-icon svg-icon-2 svg-icon-primary me-3">
                    <img src="/metroland/assets/icons/icon.png" class="img-fluid" alt="Responsive image">
                </span>
                <strong id="suc-alert-msg"></strong>
            </div>
        </div>
    </div>
</div>

<!-- end success alert notification-->
<!-- start error alert notification-->
<div class="position-fixed top-0 start-50 translate-middle-x p-3 z-index-2500">
    <div id="toast-err" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <span class="svg-icon svg-icon-2 svg-icon-primary me-3">
                    <img src="/metroland/assets/icons/error.png" class="img-fluid" alt="Responsive image">
                </span>
                <strong id="err-alert-msg"></strong>
            </div>
        </div>
    </div>
</div>

<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
    <div class="container-fluid d-flex flex-column flex-md-row flex-stack">
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted fw-bold me-2">2023©</span>
            <a class="text-gray-800 text-hover-primary">Metroland</a>
        </div>

    </div>
</div>
</div>