<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen border-0" data-dismiss="modal">
        <div class="modal-content bg-transparent">
            <div>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="" class="imagepreview img-fluid">
            </div>
        </div>
    </div>
</div>