<div class="modal fade" tabindex="-1" data-bs-backdrop='static' id="mdl_promosi">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-transparent border-0">
            <div class="text-end">

                <div class="btn btn-icon btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-9">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </span>
                </div>

            </div>
            <div class="modal-body text-center">
                <img class="img-fluid" id="img-promotion" alt="" src="">
            </div>

        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" data-bs-backdrop='static' id="mdl_kpr">
    <div class="modal-dialog modal-md">
        <div class="modal-content border-0">
            <div>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal"
                    aria-label="Close">
                    <span class="svg-icon svg-icon-2x">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </span>
                </div>

            </div>
            <div class="text-center">
                <h3>Simulasi KPR</h3>
            </div>

            <div class="modal-body">

                <form id="mdl-form-kpr" class="form" action="#" method="post" autocomplete="off">

                    <div class="fv-row">
                        <label for="exampleFormControlInput1" class="required form-label">Harga Total Properti
                            Anda</label>
                        <input type="text" id="inp_properti" name="inp_properti" class="form-control input-kpr"
                            placeholder="" />
                    </div>

                    <div class="fv-row">
                        <label for="exampleFormControlInput1" class="required form-label">Jangka Waktu (Tahun)</label>
                        <input type="number" id="inp_jangka_waktu" name="inp_jangka_waktu"
                            class="form-control input-kpr" value="10" placeholder="" />
                    </div>

                    <div class="fv-row">
                        <label for="exampleFormControlInput1" class="required form-label">Bunga (%)</label>
                        <input type="number" id="inp_bunga" name="inp_bunga" class="form-control input-kpr" value="7.5"
                            placeholder="" />
                    </div>
                    <button type="button" class="btn-primary text-white mt-3 mb-3" id="btn-hitung-kpr">
                        Hitung
                    </button>
                </form>

                <div>
                    <label>Angsuran per bulan</label>
                </div>
                <h3 class="title" id="total-angsuran-kpr">Rp 0</h3>
                <p>
                    <em style="font-size: 10px;">*perhitungan ini hanya merupakan simulasi/perkiraan, tidak bisa
                        dijadikan sebagai acuan, untuk lebih detailnya, Anda bisa mengubungi sales marketing Kami.</em>
                </p>
            </div>

        </div>
    </div>
</div>