<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/metroland/assets/css/404/index.css" rel="stylesheet" type="text/css" />
    <title>404</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <div class="row">
            <div class="col-md-4">
                <div class="error-box">
                    <h2>404 ERROR</h2>
                    <h1>Page not found</h1>
                    <p>Sorry, the page you are looking for doesn't exist.</p>
                    <div class="input-box">

                    </div>
                    <button class="cta-btn" id="btn-back">Back to Home</button>
                </div>
            </div>
            <div class="col-md-4">
                <img src="/metroland/assets/img/404.png" alt="" class="error-img">
            </div>
        </div>
    </div>
    <script src="/metroland/assets/js/global_error.js"></script>
</body>

</html>