:root{
    --clr-gold:#D29F33;
    --clr-white:#ffff;
}

.drop:hover>.dropdown-menu {
	display: block;
  }
  .dropdown-item:hover>.dropdown-menu {
	display: block;
  }

  ul li{
  list-style-type:none;
  display: inline;
  }
  
  .navbar-nav .nav-link{display:inline-block;}
	 
  .ml-auto {display:inline-block!important;}
  
  .dropdown>.dropdown-toggle:active {
	pointer-events: none;
  }

.btn-gold{
    background: #D29F33;
    color: #ffff;
    border: none;
}
.dropdown-item{
	color: var(--clr-gold);
}
.index_db_callbox {
    position: fixed;
    border: 0px solid rgba(255,0,0,.1);
    color: #fff;
    right: 0;
    bottom: 0;
    font-size: 14px;
    cursor: pointer;
    z-index: 9;
    border-radius: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
	text-decoration: none; 
}
.scroll-down {
    position: fixed;
    border: 0px solid rgba(255,0,0,.1);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    z-index: 9;
    border-radius: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
	text-decoration: none; 
}
.index_db_callbox_modal {
    border: 0px solid rgba(255,0,0,.1);
    color: #fff;
    right: 0;
    bottom: 0;
    font-size: 14px;
    cursor: pointer;
    z-index: 9;
    border-radius: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
	text-decoration: none; 
}
.index_db_callbox_cont {
    border: 2px solid #D29F33;
    border-radius: 100px;
	text-align: center;
}
.index_db_callbox_cont>div {
    padding: 5px 15px;
    border-radius: 100px;
    background: var(--clr-gold);
}
.index_db_callbox i {
    width: 26px;
    margin-right: 5px;
    vertical-align: middle;
}
.scroll-down i {
    width: 26px;
    margin-right: 5px;
    vertical-align: middle;
}
.index_db_callbox_modal i {
    width: 26px;
    margin-right: 5px;
    vertical-align: middle;
}
.content-scroll{
    border-radius: 100px;
	text-align: center;
	padding-left: 4px;
	padding-right: 4px;
}
.vdo {
	position: relative;
}
.vdo a {
    position:absolute;
	bottom: 2%;
    left:50%;
    color: var(--clr-white);
}

/* .float{
	position:fixed;
	bottom:40px;
	right:40px;
	background-color:var(--clr-gold);
	color:#FFF;
	border-radius:100px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	border: 2px solid --clr-gold;
  	z-index:100;
	padding: 5px 15px;
}

.my-float{
	margin-top:16px;
} */

.card-title-product{
	color: #B37F2C;
	font-weight: 400;
}

.input-kpr {
	width: 100%;
	padding: 8px 8px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid var(--clr-gold);
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
  }

  .input-kpr:focus {
	border: 3px solid #A57817;
  }

  .img-footer {
	width: 170px;
  }
  .btn-close-mdl{
		padding-x: 0.75rem;
		padding-y: 0.375rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: var(--clr-white);
  }

  .location-title{
	font-size: 30px;
	margin-top: 5px;
  }

  .modal-footer-custom {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: calc(1rem - 0.5rem * .5);
    /* background-color: var(--bs-modal-footer-bg); */
    
}

@media only screen and (min-width:992px){

	.imagepreview-facility{
		width: auto;
		height: 100%;
	}

	.img-product{
		max-height: fit-content;
		width: auto;
	}
}

@media screen and (max-width:574px) {

	.nav-item .dropdown-menu {
		display: none;
		background-color: white;
		opacity: 95%;
		margin-block: 4px;
	}

	.index_db_callbox {
		font-size: 12px;
		padding-left: 10px;
		border: none;
	}

	.navbar-toggler-icon {
		display: inline-block;
		width: 1.5em;
		height: 1.5em;
		vertical-align: middle;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28210, 159, 51, 1.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
	}
	.navbar-toggler {
		padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
		font-size: var(--bs-navbar-toggler-font-size);
		line-height: 1;
		color: var(--clr-gold);
		background-color: transparent;
		border: 0spx solid rgba(255, 255, 255, 0.1);
		border-radius: 0.375rem;
		transition: box-shadow 0.15s ease-in-out;
	}

	.h1, h1 {
		font-size: calc(1.2rem + 1vw);
		text-align: center;
		margin-top: 5px;
	}

	.ftr-title {
		font-size: 1.2rem;
	}

	.ftr-content {
		font-size: 1rem;
	}
	.fs-1 {
		font-size: 2.5rem!important;
	}
	.img-footer {
		width: 120px;
	  }
	.nomor-1 {
		order: 1!important;
	}
	.nomor-2 {
		order: 2!important;
	}

	.img-content {
		width: 150px;
	}
	.bg-nav {
		background: var(--clr-gold);
		border-radius: 3%;
	}

	.nav-link:hover{
	background-color: transparent;
	}

	.nav {
		display: block;
	}

	.nav-color{
		color: var(--clr-whites)
	}

	.vdo a {
		position:absolute;
		bottom: 15%;
		left:40%;
		color:var(--clr-white)
	}

	#pills-tab .nav-item {
		border-color: #B37F2C;
		margin-top: -5px;
		padding: 0.5rem 0rem;
		height: 46px;
	}

	.location-title{
		font-size: 16px;
		margin-top: 5px;
	  }

	.location-description{
		text-align: center;
	}

	#simulasi img{
		margin: 5px;
    	height: 15px;
	}

	.btn-primary a {
		color: white;
		text-decoration: none;
		font-size: small;
		padding: 5px;
	}
	.img-container{
		width: auto;
		height: auto;
		object-fit: cover;
	}

	.imagepreview-pa img{
		width: 100%;
		height: auto;
	}

	.img-product{
		height: auto;
		max-width: 100%;
	}

	.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
		width: 100%;
	}

	/* #cluster .nav .active {
		color: white;
		background-color: #B37F2C;
		border-radius: 0%;
		padding-top: 2px;
	} */
}

@media screen and (max-width:922px) {
	
	.nav-item .dropdown-menu {
		display: none;
		background-color: white;
		opacity: 95%;
		margin-block: 4px;
	}
	/* .nav-color li .nav-link.active {
		color: white;
		font-weight: 600;
		text-decoration: underline;
		text-underline-offset: 10px;
		text-decoration-thickness: 3px;
	} */
	.nav-color .nav-link {
		color: white;
	}

	.nav-link {
		color: white;
		display: inline;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		opacity: 95%;
		margin-block: -4px;
	}

	/* .img-fluid {
		max-width: 80%;
		height: auto;
	} */

	.vdo a {
		position:absolute;
		bottom: 15%;
		left:40%;
		color:var(--clr-white)
	}

	#pills-tab .nav-item {
		border-color: #B37F2C;
		margin-top: -5px;
		padding: 0.5rem 0rem;
		height: 46px;
	}

	#simulasi img{
		margin: 5px;
    	height: 15px;
	}

	.btn-primary a {
		color: white;
		text-decoration: none;
		font-size: small;
		padding: 5px;
	}

	.img-container{
		width: auto;
		height: auto;
		object-fit: contain;
	}

	.imagepreview-pa img{
		width: 100%;
		height: auto;
	}
	
	.img-product{
		height: auto;
		max-width: 100%;
	}

	.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
		width: 100%;
	}

	#cluster .nav .active {
		color: white;
		background-color: #B37F2C;
		border-radius: 0%;
		padding-top: 2px;
	}
}