<!-- START: MODAL ADD CLUSTER-->
<div class="modal fade" id="mdl-add-cluster" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">FORM TAMBAH DATA KLASTER</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="mdl-form-add-cluster" class="form" action="#" autocomplete="off">

                    <div class="fv-row form-floating mb-7">
                        <input type="text" class="form-control" name="cluster_name" id="mdl-add-cluster-name"
                            placeholder="" />
                        <label for="floatingInput" class="required">Cluster</label>
                    </div>

                    <div class="fv-row form-floating mb-7">
                        <textarea name="mdl_add_description_cluster" class="form-control"
                            id="mdl_add_description_cluster" rows="5"></textarea>
                        <label for="floatingInput" class="required">Description</label>
                    </div>
                    <div class="mb-5">
                        <h3 class="fs-md-3 text-dark mb-6">Specifications</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <div class="d-inline-flex mb-2">
                                    <div class="badge badge-light">
                                        <div class="symbol symbol-20px me-3">
                                            <img src="/metroland/assets/icons/bedroom.png" class alt>
                                        </div>
                                        <span>Total bedrooms for this cluster</span>
                                    </div>
                                </div>
                                <div class="fv-row form-floating mb-7">
                                    <input type="text" class="form-control" name="total_bedrooms"
                                        id="mdl-add-cluster-bedrooms" placeholder="" />
                                    <label for="floatingInput" class="required">Bedrooms</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <div class="d-inline-flex mb-2">
                                    <div class="badge badge-light">
                                        <div class="symbol symbol-20px me-3">
                                            <img src="/metroland/assets/icons/bathroom.png" class alt>
                                        </div>
                                        <span>Total bathroom for this cluster</span>
                                    </div>
                                </div>
                                <div class="fv-row form-floating mb-7">
                                    <input type="text" class="form-control" name="total_bathroom"
                                        id="mdl-add-cluster-bathroom" placeholder="" />
                                    <label for="floatingInput" class="required">Bathroom</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <div class="d-inline-flex mb-2">
                                    <div class="badge badge-light">
                                        <div class="symbol symbol-20px me-3">
                                            <img src="/metroland/assets/icons/garage.png" class alt>
                                        </div>
                                        <span>Total garage for this cluster</span>
                                    </div>
                                </div>
                                <div class="fv-row form-floating mb-7">
                                    <input type="text" class="form-control" name="total_garage"
                                        id="mdl-add-cluster-garage" placeholder="" />
                                    <label for="floatingInput" class="required">Garage</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <div class="d-inline-flex mb-2">
                                    <div class="badge badge-light">
                                        <div class="symbol symbol-20px me-3">
                                            <img src="/metroland/assets/icons/area.png" class alt>
                                        </div>
                                        <span>Total area for this cluster</span>
                                    </div>
                                </div>
                                <div class="fv-row form-floating mb-7">
                                    <input type="text" class="form-control" name="total_area" id="mdl-add-cluster-area"
                                        placeholder="" />
                                    <label for="floatingInput" class="required">Area</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <div class="d-inline-flex mb-2">
                                    <div class="badge badge-light">
                                        <div class="symbol symbol-20px me-3">
                                            <img src="/metroland/assets/icons/home.png" class alt>
                                        </div>
                                        <span>Total building area for this cluster</span>
                                    </div>
                                </div>
                                <div class="fv-row form-floating mb-7">
                                    <input type="text" class="form-control" name="total_home" id="mdl-add-cluster-home"
                                        placeholder="" />
                                    <label for="floatingInput" class="required">Building Area</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-5">
                        <h3 class="fs-md-3 text-dark mb-6">Location</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <div class="d-inline-flex mb-2">
                                    <div class="badge badge-light">
                                        <div class="symbol symbol-20px me-3">
                                            <span class="svg-icon svg-icon-2 svg-icon-warning">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                                    <path
                                                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                                                    <path
                                                        d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                                </svg>
                                            </span>
                                        </div>
                                        <span>This is the latitude for this cluster location</span>
                                    </div>
                                </div>
                                <div class="fv-row form-floating mb-7">
                                    <input type="text" class="form-control" name="latitude"
                                        id="mdl-add-cluster-latitude" placeholder="" />
                                    <label for="floatingInput">Latitude</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <div class="d-inline-flex mb-2">
                                    <div class="badge badge-light">
                                        <div class="symbol symbol-20px me-3">
                                            <span class="svg-icon svg-icon-2 svg-icon-warning">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                                    <path
                                                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                                                    <path
                                                        d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                                </svg>
                                            </span>
                                        </div>
                                        <span>this is the longitude for this cluster location</span>
                                    </div>
                                </div>
                                <div class="fv-row form-floating mb-7">
                                    <input type="text" class="form-control" name="longitude"
                                        id="mdl-add-cluster-longitude" placeholder="" />
                                    <label for="floatingInput">Longitude</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="mdl-btn-cancel-add-cluster" class="btn btn-secondary btn-sm">batal</button>
                <button type="button" id="mdl-btn-add-cluster" class="btn btn-primary btn-sm">Simpan</button>
            </div>
        </div>
    </div>
</div>

<!-- FINISH: MODAL ADD CLUSTER-->

<div class="modal fade" id="mdl-edit-cluster" data-bs-backdrop="static" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">FORM UBAH DATA KLASTER</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="mdl-form-edit-cluster" class="form" action="#" autocomplete="off">

                    <input type="hidden" id="mdl-edit-cluster-id" />
                    <div class="fv-row form-floating mb-7">
                        <input type="text" class="form-control" name="cluster_name" id="mdl-edit-cluster-name"
                            placeholder="" />
                        <label for="floatingInput" class="required">Cluster</label>
                    </div>

                    <div class="fv-row form-floating mb-7">
                        <textarea name="mdl_edit_description_cluster" class="form-control"
                            id="mdl_edit_description_cluster" rows="5"></textarea>
                        <label for="floatingInput" class="required">Description</label>
                    </div>
                    <div class="mb-5">
                        <h3 class="fs-md-3 text-dark mb-6">Specifications</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <div class="d-inline-flex mb-2">
                                    <div class="badge badge-light">
                                        <div class="symbol symbol-20px me-3">
                                            <img src="/metroland/assets/icons/bedroom.png" class alt>
                                        </div>
                                        <span>Total bedrooms for this cluster</span>
                                    </div>
                                </div>
                                <div class="fv-row form-floating mb-7">
                                    <input type="text" class="form-control" name="total_bedrooms"
                                        id="mdl-edit-cluster-bedrooms" placeholder="" />
                                    <label for="floatingInput" class="required">Bedrooms</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <div class="d-inline-flex mb-2">
                                    <div class="badge badge-light">
                                        <div class="symbol symbol-20px me-3">
                                            <img src="/metroland/assets/icons/bathroom.png" class alt>
                                        </div>
                                        <span>Total bathroom for this cluster</span>
                                    </div>
                                </div>
                                <div class="fv-row form-floating mb-7">
                                    <input type="text" class="form-control" name="total_bathroom"
                                        id="mdl-edit-cluster-bathroom" placeholder="" />
                                    <label for="floatingInput" class="required">Bathroom</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <div class="d-inline-flex mb-2">
                                    <div class="badge badge-light">
                                        <div class="symbol symbol-20px me-3">
                                            <img src="/metroland/assets/icons/garage.png" class alt>
                                        </div>
                                        <span>Total garage for this cluster</span>
                                    </div>
                                </div>
                                <div class="fv-row form-floating mb-7">
                                    <input type="text" class="form-control" name="total_garage"
                                        id="mdl-edit-cluster-garage" placeholder="" />
                                    <label for="floatingInput" class="required">Garage</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <div class="d-inline-flex mb-2">
                                    <div class="badge badge-light">
                                        <div class="symbol symbol-20px me-3">
                                            <img src="/metroland/assets/icons/area.png" class alt>
                                        </div>
                                        <span>Total area for this cluster</span>
                                    </div>
                                </div>
                                <div class="fv-row form-floating mb-7">
                                    <input type="text" class="form-control" name="total_area" id="mdl-edit-cluster-area"
                                        placeholder="" />
                                    <label for="floatingInput" class="required">Area</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <div class="d-inline-flex mb-2">
                                    <div class="badge badge-light">
                                        <div class="symbol symbol-20px me-3">
                                            <img src="/metroland/assets/icons/home.png" class alt>
                                        </div>
                                        <span>Total building area for this cluster</span>
                                    </div>
                                </div>
                                <div class="fv-row form-floating mb-7">
                                    <input type="text" class="form-control" name="total_home" id="mdl-edit-cluster-home"
                                        placeholder="" />
                                    <label for="floatingInput" class="required">Building Area</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-5">
                        <h3 class="fs-md-3 text-dark mb-6">Location</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <div class="d-inline-flex mb-2">
                                    <div class="badge badge-light">
                                        <div class="symbol symbol-20px me-3">
                                            <span class="svg-icon svg-icon-2 svg-icon-warning">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                                    <path
                                                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                                                    <path
                                                        d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                                </svg>
                                            </span>
                                        </div>
                                        <span>This is the latitude for this cluster location</span>
                                    </div>
                                </div>
                                <div class="fv-row form-floating mb-7">
                                    <input type="text" class="form-control" name="latitude"
                                        id="mdl-edit-cluster-latitude" placeholder="" />
                                    <label for="floatingInput">Latitude</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <div class="d-inline-flex mb-2">
                                    <div class="badge badge-light">
                                        <div class="symbol symbol-20px me-3">
                                            <span class="svg-icon svg-icon-2 svg-icon-warning">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                                    <path
                                                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                                                    <path
                                                        d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                                </svg>
                                            </span>
                                        </div>
                                        <span>this is the longitude for this cluster location</span>
                                    </div>
                                </div>
                                <div class="fv-row form-floating mb-7">
                                    <input type="text" class="form-control" name="longitude"
                                        id="mdl-edit-cluster-longitude" placeholder="" />
                                    <label for="floatingInput">Longitude</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label class="form-check form-switch form-check-custom form-check-solid mb-3">
                        <input class="form-check-input form-check-sm" id="btn-switch-block" type="checkbox" value="1" />
                        <span class="form-check-label fw-bold text-muted">
                            ubah foto setiap tipe ?
                        </span>
                    </label>

                    <div id="list-file-cluster" class="d-inline-flex m-2">
                        <div class="row">

                            <div class="d-inline-flex align-content-between">

                                <div class="fv-row m-5">
                                    <label class="d-block fw-bold fs-6 mb-5">
                                        <span>Foto tipe</span>
                                        <i class="fas fa-info-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                            title="Foto Tipe."></i>
                                    </label>
                                    <div class="image-input image-input-outline image-input-outline"
                                        data-kt-image-input="true">
                                        <div class="image-input-wrapper w-125px h-125px" id="img-1">
                                        </div>

                                        <label
                                            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                            data-kt-image-input-action="change" data-bs-toggle="tooltip" title
                                            data-bs-original-title="Pilih foto untuk Tipe">
                                            <i class="bi bi-pencil-fill fs-7"></i>
                                            <input type="file" name="logo_klaster_1" id="logo_klaster_1"
                                                accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="avatar_remove" />
                                        </label>
                                        <span
                                            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                            data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title
                                            data-bs-original-title="Batalkan foto Tipe">
                                            <i class="bi bi-x fs-2"></i>
                                        </span>

                                        <span id="btn-remove-cluster-1"
                                            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow btn-remove-img-cluster show"
                                            data-kt-image-input-action="remove" data-bs-toggle="tooltip" title
                                            data-bs-original-title="hapus foto tipe">
                                            <i class="bi bi-x fs-2"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="fv-row m-5">
                                    <label class="d-block fw-bold fs-6 mb-5">
                                        <span>Foto Tipe</span>
                                        <i class="fas fa-info-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                            title="Foto Tipe."></i>
                                    </label>
                                    <div class="image-input image-input-outline image-input-outline"
                                        data-kt-image-input="true">
                                        <div class="image-input-wrapper w-125px h-125px" id="img-2">
                                        </div>

                                        <label
                                            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                            data-kt-image-input-action="change" data-bs-toggle="tooltip" title
                                            data-bs-original-title="Pilih foto untuk tipe">
                                            <i class="bi bi-pencil-fill fs-7"></i>
                                            <input type="file" name="logo_klaster_2" id="logo_klaster_2"
                                                accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="avatar_remove" />
                                        </label>
                                        <span
                                            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                            data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title
                                            data-bs-original-title="Batalkan foto tipe">
                                            <i class="bi bi-x fs-2"></i>
                                        </span>

                                        <span id="btn-remove-cluster-2"
                                            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow btn-remove-img-cluster show"
                                            data-kt-image-input-action="remove" data-bs-toggle="tooltip" title
                                            data-bs-original-title="hapus foto tipe">
                                            <i class="bi bi-x fs-2"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="fv-row m-5">
                                    <label class="d-block fw-bold fs-6 mb-5">
                                        <span>Foto Tipe</span>
                                        <i class="fas fa-info-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                            title="Foto Tipe."></i>
                                    </label>
                                    <div class="image-input image-input-outline image-input-outline"
                                        data-kt-image-input="true">
                                        <div class="image-input-wrapper w-125px h-125px" id="img-3">
                                        </div>

                                        <label
                                            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                            data-kt-image-input-action="change" data-bs-toggle="tooltip" title
                                            data-bs-original-title="Pilih foto untuk tipe">
                                            <i class="bi bi-pencil-fill fs-7"></i>
                                            <input type="file" name="logo_klaster_3" id="logo_klaster_3"
                                                accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="avatar_remove" />
                                        </label>
                                        <span
                                            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                            data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title
                                            data-bs-original-title="Batalkan foto tipe">
                                            <i class="bi bi-x fs-2"></i>
                                        </span>

                                        <span id="btn-remove-cluster-3"
                                            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow btn-remove-img-cluster show"
                                            data-kt-image-input-action="remove" data-bs-toggle="tooltip" title
                                            data-bs-original-title="hapus foto tipe">
                                            <i class="bi bi-x fs-2"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="fv-row m-5">
                                    <label class="d-block fw-bold fs-6 mb-5">
                                        <span>Foto Tipe</span>
                                        <i class="fas fa-info-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                            title="Foto Tipe."></i>
                                    </label>
                                    <div class="image-input image-input-outline image-input-outline"
                                        data-kt-image-input="true">
                                        <div class="image-input-wrapper w-125px h-125px" id="img-4">
                                        </div>

                                        <label
                                            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                            data-kt-image-input-action="change" data-bs-toggle="tooltip" title
                                            data-bs-original-title="Pilih foto untuk tipe">
                                            <i class="bi bi-pencil-fill fs-7"></i>
                                            <input type="file" name="logo_klaster_4" id="logo_klaster_4"
                                                accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="avatar_remove" />
                                        </label>
                                        <span
                                            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                            data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title
                                            data-bs-original-title="Batalkan foto tipe">
                                            <i class="bi bi-x fs-2"></i>
                                        </span>

                                        <span id="btn-remove-cluster-4"
                                            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow btn-remove-img-cluster show"
                                            data-kt-image-input-action="remove" data-bs-toggle="tooltip" title
                                            data-bs-original-title="hapus foto tipe">
                                            <i class="bi bi-x fs-2"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-inline-flex align-content-between">

                                <div class="fv-row m-5">
                                    <label class="d-block fw-bold fs-6 mb-5">
                                        <span>Foto Tipe</span>
                                        <i class="fas fa-info-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                            title="Foto Tipe."></i>
                                    </label>
                                    <div class="image-input image-input-outline image-input-outline"
                                        data-kt-image-input="true">
                                        <div class="image-input-wrapper w-125px h-125px" id="img-5">
                                        </div>

                                        <label
                                            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                            data-kt-image-input-action="change" data-bs-toggle="tooltip" title
                                            data-bs-original-title="Pilih foto untuk tipe">
                                            <i class="bi bi-pencil-fill fs-7"></i>
                                            <input type="file" name="logo_klaster_5" id="logo_klaster_5"
                                                accept=".png, .jpg, .jpeg" />
                                            <input type="hidden" name="avatar_remove" />
                                        </label>
                                        <span
                                            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                            data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title
                                            data-bs-original-title="Batalkan foto tipe">
                                            <i class="bi bi-x fs-2"></i>
                                        </span>

                                        <span id="btn-remove-cluster-5"
                                            class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow btn-remove-img-cluster show"
                                            data-kt-image-input-action="remove" data-bs-toggle="tooltip" title
                                            data-bs-original-title="hapus foto tipe">
                                            <i class="bi bi-x fs-2"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="d-inline-flex mb-2">
                            <div class="badge badge-light">
                                <div class="symbol symbol-20px me-3">
                                    <span class="svg-icon svg-icon-2 svg-icon-warning">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
                                            <path
                                                d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1z" />
                                            <path
                                                d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1" />
                                        </svg>
                                    </span>
                                </div>
                                <span>Fasilitas yang terdapat pada klaster</span>
                            </div>
                        </div>
                        <div class="fv-row mb-7">
                            <select class="form-select rounded-start-0" name="mdl_edit_clusters_facility"
                                data-control="select2" id="mdl_edit_clusters_facility"
                                data-placeholder="Pilih Fasilitas" data-allow-clear="true" multiple="multiple">
                                <% facilities.forEach(facility=> { %>
                                    <option value="<%= facility.id %>">
                                        <%= facility.name %>
                                    </option>
                                    <% }) %>
                            </select>

                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="mdl-btn-edit-cluster" class="btn btn-primary btn-sm">Simpan</button>
            </div>
        </div>
    </div>
</div>

<!-- ACCESS CLUSTER-->
<div class="modal fade" id="mdl-access-cluster" data-bs-backdrop="static" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">FORM AKSES KLASTER [<b id="form-cluster-name"
                        class="text-uppercase"></b>]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-primary">
                    <div class="d-flex flex-column">
                        <span>Form ini digunakan untuk menambahkan akses disetiap klaster, akses akan tampil pada
                            halaman setiap klaster, masukan judul dan tuliskan deskripsi yang sesuai lalu pilih icon
                            untuk akses ini dan akhiri dengan klik tombol <b>Simpan</b></span>
                    </div>
                </div>
                <div class="text-end mb-5">
                    <button type="button" id="mdl-btn-add-access-row" class="btn btn-success btn-sm">Tambah
                        Akses</button>
                </div>

                <input type="hidden" id="access_cluster_id" />

                <table class="table table-responsive px-5" id="tbl-access">
                    <thead>
                        <th>Judul</th>
                        <th>Deskripsi</th>
                        <th>Icon</th>
                        <th>Hapus</th>
                    </thead>
                    <tbody>


                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>