<div class="modal fade" id="mdl-add-news" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">FORM PEMBUATAN BERITA & PERISTIWA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="mdl-form-add-news" class="form" action="news" method="post" enctype="multipart/form-data"
                    autocomplete="off">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <div class="fv-row form-floating mb-7">
                        <input type="text" class="form-control" name="title" id="mdl-add-news-title" placeholder="" />
                        <label for="floatingInput" class="required">Judul Berita & Peristiwa</label>
                    </div>

                    <div class="fv-row mb-7">
                        <textarea name="description" id="mdl_add_content_news">
                        </textarea>
                    </div>

                    <div class="m-3 d-inline-flex">
                        <div class="fv-row mb-10 me-5">
                            <label class="d-block fw-bold fs-6 mb-5">
                                <span class="required">Foto Thubnail</span>
                                <i class="fas fa-info-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                    title="Logo thubnail untuk berita ini."></i>
                            </label>
                            <div class="image-input image-input-empty image-input-outline" data-kt-image-input="true">
                                <div class="image-input-wrapper w-125px h-125px"></div>

                                <label
                                    class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                    data-kt-image-input-action="change" data-bs-toggle="tooltip"
                                    title="Pilih foto thubnail">
                                    <i class="bi bi-pencil-fill fs-7"></i>
                                    <input type="file" name="thubnail" id="thubnail" accept=".png, .jpg, .jpeg" />
                                    <input type="hidden" name="avatar_remove" />
                                </label>
                                <span
                                    class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                    data-kt-image-input-action="cancel" data-bs-toggle="tooltip"
                                    title="Batalkan Foto thubnail">
                                    <i class="bi bi-x fs-2"></i>
                                </span>

                                <span
                                    class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                    data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                                    <i class="bi bi-x fs-2"></i>
                                </span>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Batal</button>
                <button type="button" id="mdl-btn-add-news" class="btn btn-primary btn-sm">Simpan</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdl-edit-news" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">FORM UBAH BERITA & PERISTIWA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="mdl-form-add-news" class="form" action="/metroland/auth/news/edit" method="post"
                enctype="multipart/form-data" autocomplete="off">
                <div class="modal-body">

                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <input type="hidden" name="news_id" id="news_id" value="" />
                    <div class="fv-row form-floating mb-7">
                        <input type="text" class="form-control" name="title" id="mdl-edit-news-title" placeholder="" />
                        <label for="floatingInput" class="required">Judul Berita & Peristiwa</label>
                    </div>

                    <div class="fv-row mb-7">
                        <textarea name="description" id="mdl_edit_content_news">
                        </textarea>
                    </div>

                    <div class="m-3 d-inline-flex">
                        <div class="fv-row mb-10 me-5">
                            <label class="d-block fw-bold fs-6 mb-5">
                                <span class="required">Foto Thubnail</span>
                                <i class="fas fa-info-circle ms-2 fs-7" data-bs-toggle="tooltip"
                                    title="Logo thubnail untuk berita ini."></i>
                            </label>
                            <div class="image-input image-input-outline image-input-outline" data-kt-image-input="true">
                                <div class="image-input-wrapper w-125px h-125px" id="img-thubnail"></div>

                                <label
                                    class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                    data-kt-image-input-action="change" data-bs-toggle="tooltip"
                                    title="Pilih foto thubnail">
                                    <i class="bi bi-pencil-fill fs-7"></i>
                                    <input type="file" name="thubnail" id="thubnail-edit" accept=".png, .jpg, .jpeg" />
                                    <input type="hidden" name="avatar_remove" />
                                </label>
                                <span
                                    class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                    data-kt-image-input-action="cancel" data-bs-toggle="tooltip"
                                    title="Batalkan Foto thubnail">
                                    <i class="bi bi-x fs-2"></i>
                                </span>

                                <span
                                    class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                    data-kt-image-input-action="remove" data-bs-toggle="tooltip"
                                    id="btn-remove-thubnail" title="Remove avatar">
                                    <i class="bi bi-x fs-2"></i>
                                </span>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-cancel-edit-news" class="btn btn-secondary btn-sm">Batal</button>
                    <button type="button" id="btn-mdl-edit-news" class="btn btn-primary btn-sm">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>